CompileFlags:
  Add:
    - "-target"
    - "x86_64-pc-windows-msvc"
    - "-isystem"
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/km"
    - "-isystem"
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/km/crt"
    - "-isystem"
    - "C:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared"
    - "-D_AMD64_"
    - "-D_WIN64"
    - "-std=c++23"
    - "-ffreestanding"
    - "-fno-stack-protector"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-fno-builtin"
    - "-fno-threadsafe-statics"
  Remove:
    - "-Werror"

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - modernize-use-override
      - modernize-use-nullptr
      - clang-analyzer-*
    Remove:
      - modernize-use-trailing-return-type
    CheckOptions:
      FormatStyle: file
